<!DOCTYPE html>
<html>
<head>
  <title>Create Book</title>
</head>
<body>
  <h1>Create Book</h1>
  <form action="/books" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="author">Author:</label>
    <input type="text" id="author" name="author">

    <label for="price">Price:</label>
    <input type="text" id="price" name="price">
    
    <label for="publisher">Publisher:</label>
    <input type="text" id="publisher" name="publisher">

    <button type="submit">Create</button>
  </form>
</body>
</html>

