<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <h1>Details</h1>
    <h2>Name:</h2><span><%= book.name %></span>
    <h2>Author:</h2><span><%= book.author %></span>
    <h2>Price:</h2><span><%= book.price %>$</span>
    <h2>Publisher:</h2><span><%= book.publisher %></span>

</body>
</html>