<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <h3>
        Department name: <%= department.name %>
    </h3>
    <a href="/departments"><button>Back</button></a>
</body>

</html>