<!DOCTYPE html>
<html>

<head>
    <title>Employee Details</title>
</head>

<body>
    <h1>Employee Details</h1>
    <p>Name: <%= employee.last_name %>
    </p>
    <p>Salary: <%= employee.salary %>
    </p>
    <p>Phone: <%= employee.phone_number %>
    </p>
    <p>Email: <%= employee.email %>
    </p>

    <a href="/">Back to List</a>
</body>

</html>