<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product Information</title>
    <link rel="stylesheet" href="../public/css/style.css">
    
</head>
<body>
    <h1>Edit Product Information</h1>
    <form action="/products/<%= product.id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>" required>
        <br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="<%= product.price %>" required>
        <br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= product.description %></textarea>
        <br><br>
        <button type="submit">Update</button> <a href="/" class="changeButton">Back</a>

    </form>
</body>
</html>
